.cache/
build/
compile_commands.json
subprojects/lexy-*/
subprojects/libcandleapi-*/
subprojects/libpcanbasic-linux-*/
subprojects/libpcanbasic-windows-*/
subprojects/libsocketcan-*/
subprojects/packagecache/
subprojects/spdlog-*/
